{% load staticfiles %}
<html>
    <head>
        <title>School Records</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/matric.css' %}">
    </head>
    <body>
        <div>
			<a href="{% url 'school_record_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/matric/">Matric School Records</a></h1>
        </div>

        	{% for school_record in school_records %}
		{{ school_record }}
			<h1><a href="{% url 'matric_detail' school_record.pk  %}">{{school_record.name}}</a></h1>
		{% endfor %}

    </body>
</html>